/* ************ Base Color ************ */
$accentColor = #3eaf7c
$relativeAccentColor = #fff
$textColor = #2c3e50
$relativeTextColor = #fff
$loadingColor = var(--accentColor)
$loadingBgColor = #888888
$boxShadowColor = rgba(0, 0, 0, 0.2)
$tipColor = #63b521
$warnColor = #ffaa00
$dangerColor = #cc0000
$cardClock = default // default | alpha
/* ************ Code Color ************ */
$codeTheme = tomorrow // 'tomorrow', 'funky', 'okaidia', 'solarizedlight'
$codeBgColor = #282c34
$codeBgHighlightColor = rgba(0, 0, 0, 66%)
$codeFontSize = 0.85em
$codeLineHeight = 1.4
$lineNumbersWrapperWidth = 3rem
$blockTipColor = $tipColor
$blockWarnColor = $warnColor
$blockDangerColor = $dangerColor
$badgeTipColor = $tipColor
$badgeWarnColor = $warnColor
$badgeDangerColor = $dangerColor
/* ******* Code Content & Style ******* */
$separatorContent = '┆'
$listContent = '◉'
$hrStyle = default // default | solid | dashed
$hrContent = '✍'
$hrContentTop = -22
$tableStyle = default // default | striped | bordered | highlight | responsive
$titleStyle = default // default | hr
$titleHrStyle = 2 // default: h1 ~ h2
$titleDiff = 23 // Differences between fonts
/* ********* Responsive Point ********* */
$screenSmall = 600px
$screenMedium = 768px
$screenLarge = 993px
/* ************ Animation ************ */
/*
Global: a, .animate, .fixed-action-btn, .animate_a
Component: PostBlogCard, Pagination, CardNotice, TableList, LayoutCategories
Code: hr, h1~h6, ul, ol, img
 */
$transitionTime = 0.3
/* avatarImg, $siteTitle */
$animateHover = tada // pulse flash rotate shakeX shakeY tada jello swing bounce rubberBand wobble